*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    margin-top: 20px;
}
.header>img{
    width: 120px;
    margin-left: 40px;
}
.menu{
    display: flex;
    gap: 30px;
    margin-right: 10%;
    margin-top: 10px;
    
}
.menu>a{
    color: rgb(247, 120, 120);
font-size: 18px;
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Explore-Foods{
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}
.Explore-Foods>h1{
    text-align: center;
    color: rgb(49, 23, 23);
}
.Explore-food-items{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item1,.item4,.item7,.item10{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/pizza.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item1>h3,.item4>h3,.item7>h3,.item10>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}
.item2,.item5,.item8,.item11{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/burger.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item2>h3,.item5>h3,.item8>h3,.item11>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}
.item3,.item6,.item9,.item12{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/momo.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item3>h3,.item6>h3,.item9>h3,.item12>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}
.contact{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.facebook{
    width: 40px;
    height: 40px;
    background-image: url("https://img.icons8.com/fluent/50/000000/facebook-new.png");
    background-size: cover;
    border-radius: 10px;
}
.instagram{
    width: 40px;
    height: 40px;
    background-image: url("https://img.icons8.com/fluent/50/000000/instagram-new.png");
    background-size: cover;
    border-radius: 10px;
}
.twitter{
    width: 40px;
    height: 40px;
    background-image: url("https://img.icons8.com/fluent/50/000000/twitter.png");
    background-size: cover;
    border-radius: 10px;
}
.footer{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}