*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    margin-top: 20px;
}
.header>img{
    width: 120px;
    margin-left: 40px;
}
.menu{
    display: flex;
    gap: 30px;
    margin-right: 10%;
    margin-top: 10px;
    
}
.menu>a{
    color: rgb(247, 120, 120);
font-size: 18px;
text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.food-search {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.food-search-box{
    width: 100%;
    height:250px;
    background-color: rgb(23, 179, 207);
}
.food-search-box>input{
    width: 500px;
    height:30px;
    margin-left: 30%;
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}
.food-search-box>button{
    width:75px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(247, 120, 120);
    color: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Explore-Foods{
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}
.Explore-Foods>h1{
    text-align: center;
    color: rgb(49, 23, 23);
}
.Explore-food-items{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.item1{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/pizza.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item1>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}
.item2{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/burger.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item2>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}
.item3{
    width: 400px;
    height: 400px;
    background-color: rgb(5, 140, 147);
    background-image: url("https://resutrantcode.netlify.app/images/momo.jpg");
    background-size: cover;
    border-radius: 10px;
}
.item3>h3{
    text-align: center;
    color: white;
    margin-top: 350px;
    font-size: 30px;
}

.food-menu {
    width: 100%;
    height: 800px;
    margin: 40px auto;
    background-color: rgb(208, 207, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.food-menu h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #222;
    padding: 40px;
}


.food-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.food-item1,
.food-item2 ,.food-item3,
.food-item4,.food-item5,.food-item6 {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

/* IMAGE */
.food-items img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
}

/* TEXT */
.food-item-description h3 {
    margin: 0 0 5px;
    font-size: 20px;
    color: #000;
}

.food-item-description p {
    margin: 5px 0;
    color: #666;
    font-size: 14px;
}

.food-item-description p:nth-of-type(2) {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

/* BUTTON */
.food-item-description button {
    margin-top: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #ff5b6b;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.food-item-description button:hover {
    background-color: #e04a59;
}

.see-all {
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top  : 30px;
    margin-left: 700px;
}

.see-all>a {
    text-decoration: none;
    font-weight: 500;
    color: #ff5b6b;
}
.contact {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.linkedIn {
    width: 500px;
    height: 500px;
    background-image: url("https://resutrantcode.netlify.app/image.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.instagram {
    width: 50px;
    height: 50px;
    background-image: url("https://img.icons8.com/fluent/48/000000/instagram-new.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.twitter {
    width: 50px;
    height: 50px;
    background-image: url("https://img.icons8.com/fluent/48/000000/twitter.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.footer{
    margin-left: 50px;

    text-align: center;
}
